:global{
    .mark{
        width: 100%;
        height: 160px;
        background: #000;
    }
    .banner{
        width: 100%;
        height: 150px;
        position: absolute;
        top:0px;
        left:0;
    }
    .con{
        width: 100%;
        height: auto;
        background: #fff;
        margin-top: 20px;
        .navs{
            width: 100%;
            height: 100px;
            border-bottom: 1px solid #ccc;
            display: flex;
            justify-content: space-around;
            p{
       
                display: flex;
                flex-direction: column;
                align-items:center;
                justify-content: space-around;
                span{
                    width: 50px;
                    height: 50px;
                    background: #000;
                    display: inline-block;
                    text-align: center;
                    line-height: 50px;
                    padding: 6px;
                    border-radius: 50%;
                }
            }
            p:nth-child(1) span img{
                width: 30px;
                height: 30px;
                padding: 10px;
               
            }
            p:nth-child(2) span img{
                width: 30px;
                height: 30px;
                margin-top: 10px;
            }
            p:nth-child(3) span img{
                width: 35px;
                height: 35px;
                margin-top: 10px;
            }
            p:nth-child(4) span img{
                width: 35px;
                height: 35px;
                margin-top: 10px;
            }
        }
    }
    .con_list{
        width:100%;
        h4{
            width: 100%;
            height: 45px;
            display: flex;
            align-items: center;
            span{
                font-size: 16px;
                line-height: 45px;
            }
            .imgs{
                width: 20px;
                height: 20px;
            }
        }
        .con_list_li{
            width:100%;
            display: flex;
            flex-wrap: wrap;
            .banners{
                width: 50%;
                padding: 5px;
                box-sizing: border-box;
                p{
                    width: 100%;
                    height:40px;
                }
                img{
                    width:180px;
                    height: 150px;
                }
            }
        }
    }

}
