:global{
   .box{
       width:100%;
        height: 100%;
        background: url("../../public/img/timg (1).jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
   
   .line{
       width: 100%;
       height: 80px;
       display: flex;
       flex-direction: column;
       margin-top: 100px;
       .list{
           width: 100%;
           height: 20px;
           display: flex;
           align-items: center;
          .div{
              width:100%;
            p{
                width: 100%;
                height: 10px;
                background: #ccc;
                opacity: .3;
                position: relative;
               p>span{
                    height: 100%;
                    background: red; 
                    position:absolute;
                    left:0;
                    top:0;
                    z-index: 999;
                }
            }
          }
       }
       .list-button{
           display: flex;
           align-items: center;
           justify-content: space-around;
           button{
            padding: 10px;
            background: #ccc;
            outline: none;
            border:0;
            border-radius:20px;
           }
       }
   }
}